:global {
    .node {
        fill: var(--accent-color);
        stroke: rgba(255, 255, 255, 0.2);
        stroke-width: 2px;
    }

    .link {
        stroke: rgba(255, 255, 255, 0.1);
        stroke-width: 1px;
    }
}